<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>WebCampBackendNew</title>
  </head>

  <body>
    <p>Title:<%= @book.title %></p>
    <p>Body:<%= @list.body %></p>
  </body>
<html>